<!--
	Use ` | safe` to allow html tages within the text string.
	https://mozilla.github.io/nunjucks/templating.html#autoescaping
-->
<div class='mydiet'>
	<div class='title'>
		<span class="icon-diet"></span>
		My Diet
	</div>
	<ul class="diet-list">
		<li>
			<span class="icon icon-eat"></span>
			<h3>Break Fast</h3>
			<span class='food-items'>2 Idly | 1 Egg | 35gchanna<span>
		</li>
		<li>
			<span class="icon icon-snaks"></span>
			<h3>Morning Snaks</h3>
			<span class='food-items'>2 Idly | 1 Egg | 35gchanna<span>
		</li>
		<li>
			<span class="icon icon-eat"></span>
			<h3>Lunch</h3>
			<span class='food-items'>2 Idly | 1 Egg | 35gchanna<span>
		</li>
		<li>
			<span class="icon icon-snaks"></span>
			<h3>Evening Snaks</h3>
			<span class='food-items'>2 Idly | 1 Egg | 35gchanna<span>
		</li>
		<li>
			<span class="icon icon-eat"></span>
			<h3>Dinner</h3>
			<span class='food-items'>2 Idly | 1 Egg | 35gchanna<span>
		</li>
	</ul>

</div>
