<!--
	Use ` | safe` to allow html tages within the text string.
	https://mozilla.github.io/nunjucks/templating.html#autoescaping
-->
<div class='mydiet'>
	<div class='title'>
		<span class="icon-diet"></span>
		Diet Plan for - {{ weight.type }}
		
	</div>
	<ul class="diet-list">
		<li>
			<span class="icon icon-eat"></span>
			<h3>Break Fast</h3>
			<span class='food-items'>{{ weight.foodPlan[foodType].breakfast }}<span>
		</li>
		<li>
			<span class="icon icon-snaks"></span>
			<h3>Morning Snaks</h3>
			<span class='food-items'>{{ weight.foodPlan[foodType].morningSnacks }}<span>
		</li>
		<li>
			<span class="icon icon-eat"></span>
			<h3>Lunch</h3>
			<span class='food-items'>{{ weight.foodPlan[foodType].lunch }}<span>
		</li>
		<li>
			<span class="icon icon-snaks"></span>
			<h3>Evening Snaks</h3>
			<span class='food-items'>{{ weight.foodPlan[foodType].eveningSnacks }}<span>
		</li>
		<li>
			<span class="icon icon-eat"></span>
			<h3>Dinner</h3>
			<span class='food-items'>{{ weight.foodPlan[foodType].dinner }}<span>
		</li>
	</ul>

</div>
