<!--
	Use ` | safe` to allow html tages within the text string.
	https://mozilla.github.io/nunjucks/templating.html#autoescaping
-->
<div class='myworkout'>
	<div class='title'>
		<span class="icon-workout"></span>
		My Workout
		<p>Today's workout: {{ workOuts.workoutDay }}</p>
	</div>
	<ul class="workout-list">
		{% for item in workOuts.exercises %}
		<li>
			<span class="icon icon-eat"></span>
			<h3>{{item.exercise}}</h3>
			<span class='food-items'>{{item.set}}<span>
		</li>
		{% endfor %}
	</ul>

</div>
