<!--
	Use ` | safe` to allow html tages within the text string.
	https://mozilla.github.io/nunjucks/templating.html#autoescaping
-->
<div class='myworkout'>
	<div class='title'>
		<span class="icon-workout"></span>
		My Workout
	</div>
	<ul class="workout-list">
		<li>
			<span class="icon icon-eat"></span>
			<h3>Break Fast</h3>
			<span class='food-items'>2 Idly | 1 Egg | 35gchanna<span>
		</li>
	</ul>

</div>
